@import '/src/styles/variables.scss';

.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: $color-light-wt;
  border-bottom: 1px solid rgb($color-gray-gr, $color-gray-gr, $color-gray-gr);

  .navbarLogo {
    width: 268px;
    height: 40px;
    margin-right: 65px;
    background-color: $color-light-wt;

    .logo {
      width: 120px;
      height: 46px;
      background-image: url('https://fontmeme.com/images/instagram-new-logo.png');
      background-size: 120px 45px;
      background-repeat: no-repeat;
    }
  }

  .navbarSearch {
    width: 268px;
    height: 36px;
    input {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      background-color: $color-gray-li;
      background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png);
      background-size: 30px;
      background-position: 5px 3px;
      background-repeat: no-repeat;
      border: 0;
      border-radius: 8px;
      outline: none;
      &::placeholder {
        color: $color-dark-li;
        font-size: 16px;
      }
      &:focus {
        background-image: none;
      }
    }
  }

  .navbarMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 280px;
    height: 36px;
    margin-left: 60px;
    background-color: $color-light-wt;

    .navbarMenuItems {
      &:nth-child(5) {
        width: 28px;
        height: 28px;
        background-image: url('https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png');
        background-color: $color-light-wt;
        background-size: 28px;
        background-repeat: no-repeat;
        background-position: 0px 0px;
      }
      &:nth-child(6) {
        width: 28px;
        height: 28px;
        margin-bottom: 2px;
        border: 2px solid black;
        border-radius: 20px;
        background-image: url('https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/profile.png');
        background-size: 28px;
        background-repeat: no-repeat;
        background-position: -2px 0px;
      }
    }
  }
}
