@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 승민 scss 변수 */
$color-dark-wt: #fafafa;
$color-dark-bl: #00376b;
$color-dark-gr: #262626;
$color-dark-li: #5d5d5d;
$color-light-wt: #ffffff;
$color-blue-bt: #0095f6;
$color-gray-dk: #8e8e8e;
$color-gray-li: #eaeaea;
$color-dark-gr: #a8a8a8;
$color-blue-dbt: #90cbf3;
$color-dark-gr: 142;
$color-gray-gr: 219;
