@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 승민 scss 변수 */
$color-dark-wt: #fafafa;
$color-dark-bl: #00376b;
$color-dark-gr: #262626;
$color-dark-li: #5d5d5d;
$color-light-wt: #ffffff;
$color-blue-bt: #0095f6;
$color-gray-dk: #8e8e8e;
$color-gray-li: #eaeaea;
$color-dark-gr: #a8a8a8;
$color-blue-dbt: #90cbf3;
$color-dark-gr: 142;
$color-gray-gr: 219;

/*민재 scss 변수 */

$grey-10: rgba(0, 0, 0, 0.1);
$grey-20: rgba(0, 0, 0, 0.2);
$grey-30: rgba(0, 0, 0, 0.3);
$grey-40: rgba(0, 0, 0, 0.4);
$grey-50: rgba(0, 0, 0, 0.5);
