$color-dark-wt: #fafafa;
$color-dark-wg: #bfbfbf;
$color-dark-bl: #00376b;
$color-dark-gr: #262626;
$color-light-wt: #ffffff;
$color-blue-bt: #0095f6;
$color-gray-dk: #8e8e8e;
$color-gray-wg: #ababab;
$color-dark-gr: #a8a8a8;
$color-dark-li: #b8b8b8;
$color-dark-gr: 142;
$color-gray-gr: 219;
