@import '/src/pages/seungminPark/styles/variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $color-dark-wt;
}

body {
  position: relative;

  #root {
    position: absolute;
    top: 0;
    width: 100%;
    .mainPage {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 60px 0 30px 0;
    }
  }
}

// Button function

.buttonDisable {
  color: rgba(0, 149, 246, 0.3);
}
.buttonAble {
  color: $color-blue-bt;
}
